*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.container {
  width:100vw;
  height: 100vh;
  background:linear-gradient(135deg, #9eb3de, #c87adb);
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap:wrap;
 
}

.music-player{
  background: pink;
  width: 400px;
  padding:25px 35px;
  text-align:center;
  margin-left: 50px;
 
}
nav{
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav .circle{
  border-radius: 50%;
  width: 40px;
  height:40px;
  line-height:40px;
  background: #fff;
  color: black;
  box-shadow:0 5px 10px rgba(255,26,26,0.22);
}
.song-img{
  width:220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60 px rgba(255,26,26,0.22);
}
.music-player h1{
  font: size 20px;
  font: weight 400px;
  color:#333;
  margin-top:20px;
}
#progress{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background:#f531e5;
  border-radius: 4px;
  cursor: pointer; 
  margin: 4px;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background:#f53192;
  width: 30px;
  height:30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}
.controls{
  display:flex;
  justify-content: center;
  align-items:center;
}
.controls div{
  width: 60px;
  height:60px;
  margin: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  color: #f53182;
  box-shadow: 0 10px 20px rgba(255,26,26,0.22);
  cursor: pointer;
}
.controls div:nth-child(2){
  transform: scale(1.15);
  background: #f53192;
  color: #fff;
}


.todo-app {
  width:calc(100% - 600px);
  height: 80vh;
  max-width:540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 100px;
}
.todo-app h2{
  color: #002765;
  display:flex;
  align-items: center;
  margin-bottom: 20px;
}
.row {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background: #edeef0;
  border: radius 30px;
  padding-left:20px;
  margin-bottom:25px;
}
input{
  flex:1;
  border:none;
  outline:none;
  background:transparent;
  padding:10px;
}
button {
  border:none;
  outline:none;
  padding: 16px 50px;
  background:#b088db;
  color:#fff;
  font-size:16px;
  cursor:pointer;
  border-radius:40px;
}
ul li{
  list-style:none;
  font-size:17px;
  padding:12px 8px 12px 50px;
  user-select:none;
  cursor:pointer;
  position:relative;
}
ul li::before{
  content:' ';
  position: absolute;
  height:28px;
  width:28px;
  border-radius: 50%;
  top: 12px;
  left: 8px;
  background-image: url(image/unchecked.png);
  background-size:cover;
  background-position:center;
}
ul li.checked{
  color: #555;
  text-decoration:line-through;
}
ul li.checked::before{
  background-image: url(image/checked.png);
}
ul li span{
  position:absolute;
  right:0;
  top:5px;
  width:40px;
  height:40px;
  font-size:22px;
  color: #555;
  line-height:40px;
  text-align:center;
  border-radius: 50%;
}
ul li span:hover{
  background:#eddef0;
}
